/* Para se adicionar um comentário em "style, deve se usar esses códigos -> */ 
/**/
/*Recurso !important -> ignora a prioridade padrão*/
/* seletor de elemento*/
p {
    color: blue;
}

/*Seletor de classe = Elementos com atribúto "class (ponto)" recebem o estilo*/
.paragrafos {
    background-color: yellow;
    color: red;
}

.texto-centro{
    text-align: center;
    color: black;
}

/*Seletor de ID =  aplicado a um único elemento na página*/
#paragrafo {
    background-color: rgb(28, 6, 88);
    color: white;
    text-align: right;
}

/*Especificidade => Elemento, Classe, ID* (Essa é a ordem)*/

body {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

h2 {
    font-family: monospace;
}