*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    width: 400px;
    margin: 16px auto;
    
}

/* 
    Box Shadow
    box-shadow: x y desfoque spread color
*/

.figura1 {
    height: 150px;
    box-shadow: 5px 5px 5px 0 black;
}

.section1 p {
    text-shadow: 1px 1px 1px black;
}