.card-produto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card-produto:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-produto h4 {
    margin: 8px 0;
    font-size: 20px;
    color: #000000;
  }
  
  .grifado {
    text-decoration: line-through;
    color: #ff0000;
  }
  
  .desconto {
    color: #0635cf;
  }
  