
.mensagem-titulo {
    color: #000000;
}

.paragrafo {
    font-style: italic;
}

.mensagem-corpo {
    background-color: #ad7272;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    margin: 8px auto; 
}
