* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.item-1 {
    background-color: #00e0e0;
}

.item-2 {
    background-color: yellow;
}

.item-3 {
    background-color: blueviolet;
}

.item-4 {
    background-color: #4f9b8e;
}

.item-1, .item-2, .item-3, .item-4 {
    width: 200px;
    padding: 8px;
}

.container {
    background-color: rgb(221, 6, 149);
    display: flex; /*Ativa o Flexbox*/

    flex-direction: row; /*Define se é ROW ou COLUMN*/

    flex-wrap: wrap; /*Define se há quebra de linha ao faltar espaço*/

    justify-content: space-around; /*Ajustar os elementos no eixo main / Seus valores são
    Start =Padrão, end = final, center = centro, space-between = entre os objetos, 
    space-around = ao redor dos objetos, space-evenly = uniformemente entre os elementos*/
    
    align-items: center; /*Ajusta os elementos no eixo cross "verticalmente" / 
    Seus valores são, stretch = padrão, flex-start, flex-end, center*/
    height: 100vh; /*Altura*/
}