.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171c30;
  }
  
  .form-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }
  
  .form-section h1 {
    margin-bottom: 20px;
    color: #171c30;
    font-size: 20px;
  }
  
  .form-control {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .is-invalid {
    border-color: red;
  }
  
  .invalid {
    color: red;
    font-size: 12px;
  }
  
  button {
    font-size: 16px;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: #171c30;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  .w-100 {
    width: 100%;
  }
  